@import url('yinyang.css');

body {
    background: rgb(0, 0, 0);
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    background: rgb(182, 182, 182);
}

#ui-container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    width: 100%;
    color: white;
}

#game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: 600px;
    width: 600px;
    background: rgba(182, 182, 182, 0.8);

    &.hidden {
        left: -999999px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .hidden {
            display: none;
        }
    }
}